@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ====== General CSS ====== */

*, form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Variables */
:root { 
    --color-black: black;
    --color-white: white;
    --color-accent-1 : #00470f;
    --color-accent-2 : #CEE4B5;
    --color-grey: #808080;
    --ff : "Poppins", Sans-Serif;
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Body and headings */
body {
    font-size: 16px;
    background-color: var(--color-white);
    font-family: var(--ff);
}
h1 {
    font-size: 2.986rem;
    line-height: 1.2;
    font-weight: 300;
}
h2{
    font-size: 2.488rem;
    line-height: 1.2;
    font-weight: 700;
}
h3 {
    font-size: 2.074rem;
    font-weight: 500;
    line-height: 1.4;
}
h5 {
    font-size: 1.4rem;
    line-height: 1.6;
}
p {
    font-size: 1rem;
    line-height: 1.6;
}
.section-padding {
    padding-top: 120px;
 }
/* Main btn */
.main-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-accent-1);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 24px;
    transition: background-color 0.2s ease;
    font-size: 1.1rem;
  }
  /* Hover effect */
  .main-btn:hover {
    background-color:var(--color-black);
    scale: 1.05;
  }
/* ====== Layouts CSS ======*/ 
/* === Header ===*/
/* Nav Menu */
.navbrandSvg {
    height: 50px;
    width: 50px;
    padding-right: 8px;
    fill: var(--color-accent-1);
}
.navbrandSvg:hover{
    scale: 1.05;
}
#navbarNav .navbar-nav .nav-link {
    color: var(--color-black);
    transition: color 0s ease;
}
#navbarNav .navbar-nav .nav-link:hover {
   color: var(--color-accent-2);
   font-weight: bold;
}

/* Hero Section */
#hero {
    background-image: url(../images/hero-bg-l.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
 }
  /* Overlay */
  .hero::after { 
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, hsla(133, 100%, 14%, 0.4) 0%, hsla(140, 60%, 82%, 0.6) 49%, hsla(88, 47%, 80%, 0.4) 100%);
    z-index: -1;
  }

/* === Category Section === */
.category-card img {
    /* To make an image round it should be rectangle, if not rectangle then assign same height and width, 
    and use bootstrap rounded-circle.*/
    width: 150px;
    height: 150px;
    /* This line prevents stretching of image or being oval.*/
    object-fit: cover; 
} 
/* Featured Dishes Section */
.feature-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.feature-card {
    box-shadow: var(--box-shadow);
}

/* === Newsletter Section === */
.newsletter {
    background-color: var(--color-accent-2);
}
.newsletter h2 {
    font-weight: bold;
}
.newsletter span {
    color: var(--color-accent-1);
}
.newsletter .email-block {
    width: 70%;
    margin: auto;}
    /* newsletter block width below 768px responsive */
    @media (max-width: 768px){
       .newsletter .email-block {
            width: 100%;
        }
    }

/* === About Section === */
#about img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* === Contact Section === */
#contact {
    padding-bottom: 80px;
} 
.form-area .main-btn {
    width: 100%;
}

/* === footer === */
#footer {
    background-color: var(--color-black);
}
#footer h5 {
    font-weight: bold;
    color: var(--color-white);
}
#footer p {
    color: var(--color-grey);
    line-height: 1.6;  
    font-size: 0.75rem;
}
#footer ul {
    list-style: none;
    padding: 0;
}
#footer ul li {
    color: var(--color-grey);
    line-height: 2.4;
    font-size: 0.75rem;
}
#footer ul li a {
    text-decoration: none;
    color: var(--color-grey);
    line-height: 2.4;
    font-size: 0.75rem;
}
#footer ul li a:hover {
    color: var(--color-accent-2);
    text-decoration: underline;
    text-decoration-color: var(--color-accent-2);
}
#basic-addon2 {
    background: var(--color-accent-1);
    color: var(--color-grey);
}
#footer .socials-svg {
    height: 25px;
    width: 25px;
    margin-right: 15px;
    fill: var(--color-grey);
}
#footer .socials-svg:hover {
    fill: var(--color-accent-2);
}
#footer hr {
    hr {
        margin-top: 50px;
        margin-bottom: 50px;
        color: var(--color-accent-2);
    }
}

/* ====== Responsive CSS ======= */ 
@media (min-width:320px) and (max-width:567px) {
    /* == main-btn == */
        .main-btn{
            font-size: 0.8rem;
        }
    /* == Headings == */
        h1 {
            font-size: 2.25rem;
            }
        h2{
            font-size: 1.7rem;
        }
        h3 {
            font-size: 1.4rem;
        }
        h5 {
            font-size: 1rem;  
        }
        p {
            font-size: 0.8rem;
        }
    /* == Category section == */
    /* Adjusted image size*/
        .category-card img {
            width: 110px; 
            height: 110px;
            object-fit: cover;
        } 
     /* == Feature Section == */
        /* Change image height to reduce card height */
        .feature-card img { 
            height: 160px;
            object-fit: cover;
        }
        /* add space between cards*/
        .feature-card {
            margin-top: 26px;
        }
         /* == About Section == */
         #about img { /* image height*/
            height: 250px;
            padding-top: 20px;
        }
        #about {
            text-align: center;
        }

}

@media (min-width:568px) and (max-width:768px) {
    /* == main-btn == */
        .main-btn{
            font-size: 0.8rem;
        }
    /* == Headings == */
        h1 {
            font-size: 2.25rem;
            }
        h2{
            font-size: 1.7rem;
        }
        h3 {
            font-size: 1.5rem;
        }
        h5 {
            font-size: 1.1rem;  
        }
        p {
            font-size: 0.8rem;
        }
    /* == Category section == */
        /* Adjusted image size*/
        .category-card img {
            width: 110px; 
            height: 110px;
            object-fit: cover;
        } 
  
    /* == Feature Section == */
        /* Change image height to reduce card height */
        .feature-card img { 
            height: 160px;
            object-fit: cover;
        }
        /* add space between cards*/
        .feature-card {
            margin-top: 26px;
        }
    /* == About Section == */
        #about img { /* image height*/
            height: 280px;
            padding-top: 20px;
        }
        #about {
            text-align: center;
        }
}

@media (min-width:769px) and (max-width:992px) { /* medium screen sizes */
    /* == main-btn == */
        .main-btn{
            font-size: 0.8rem;
        }
    /* == Headings == */
        h1 {
            font-size: 2.35rem;
            }
        h2{
            font-size: 2.1rem;
        }
        h3 {
            font-size: 1.674rem;
        }
        h5 {
            font-size: 1.1rem;  
        }
        p {
            font-size: 0.8rem;
        }
    
    /* Category section */
    .category-card img {
      width: 120px; /* Adjusted image size*/
      height: 120px;
      object-fit: cover;
    } 

    /* Feature Section*/
    .feature-card img { /* Change image height to reduce card height */
        height: 180px;
        object-fit: cover;
    }
    .feature-card {
        /* add space between cards*/
        margin-top: 26px;
    }

    /* About Section*/
        #about img { /* image height*/
            height: 350px;
        }
}

@media (min-width:993px) and (max-width:1199px) {
    /* headings */
    h1 {
        font-size: 2.586rem;
        }
        h2{
            font-size: 2.288rem;
        }
        h3 {
            font-size: 1.874rem;
        }
        h5 {
            font-size: 1.2rem;  
        }
        p {
            font-size: 0.9rem;
        }
    /* contact section */
    .contact-right li {
        font-size: 0.8rem;
    }
    /* About Section*/
    #about img { /* image height*/
       height: 300px;
    }
}